/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* General styling */

* {
	--white: #f2f2f2;
	--black: #1a1a1a;
	--accent: #00bd9d;
	--buttons: #9b287b;
	--focus: #5c164e;
}

*[aria-hidden="true"] {
	display: none;
}

body, main, footer {
	display: flex;
	flex-direction: column;
}

body {
	background-color: var(--white);
	color: var(--black);

	height: 100%;
}

body, main {
	align-items: center;
	justify-content: center;
}

header {
	text-align: center;
}

h1 {
	font-size: 40px;
}

main {
	flex: 1 0 auto;
	font-size: 18px;
}

footer {
	flex-shrink: 0;
	font-size: 16px;
	width: 100%;
}

h1, h2 {
	color: var(--accent);
	font-weight: bold;
}

/* Body styling */

#display {
	background-color: var(--black);
}

.main-content {
	margin: 0.3em;
}

#power {
	margin-bottom: 2em;
}

input, button {
	border-radius: 2px;
	border: 1px solid var(--buttons);
}

input:hover, input:focus, button:hover, button:focus {
	border: 1px solid var(--focus);
}

button {
	background-color: var(--buttons);
	color: var(--white);

	padding: 0.2em 1em;
}

button:hover, button:focus {
	cursor: pointer;
	background-color: var(--focus);
}

/* Custom file upload styling */

[type="file"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

[type="file"] + label {
	background-color: var(--buttons);
	border-radius: 2px;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	padding: 0.2em 1em;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
	background-color: var(--focus);
}

[type="file"]:focus + label {
	outline: 1px dotted var(--black);
}

/* Number input styling */
[type="number"] {
	padding: 0.2em;
	width: 6em;
}

/* Footer styling */
footer {
	text-align: left;
	justify-content: flex-start;
	align-content: flex-end;
	padding: 0 1em;
}

h2 {
	font-size: 20px;
}

footer p {
	margin-bottom: 0.5em;
}

a img {
	display: inline;
	height: 14px;
	width: auto;
	margin-right: 0.3em;
}

#copyright {
	text-align: center;
}
